/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  background: var(--pageBackgroundPicturePath);
  background-color: var(--pageBackgroundAltColor);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.page::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 1px solid #ff0070;
  border-right: 1px solid #ff0070;
}

.page::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #ff0070;
  border-left: 1px solid #ff0070;
}

.header {
  height: 100vh;
  min-block-size: 668px;
}

.header__rec-label {
  position: absolute;
  top: 10px;
  right: 19px;
  color: #ff0070;
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec-label::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-bottom: 2px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #ff0070;
}
