/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;

  background: var(--pageBackgroundPicturePath);
  background-color: var(--pageBackgroundAltColor);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: var(--headerFooterMargin);
  right: var(--headerFooterMargin);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accentSecondColor);
  border-right: 1px solid var(--accentSecondColor);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: var(--headerFooterMargin);
  left: var(--headerFooterMargin);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accentSecondColor);
  border-left: 1px solid var(--accentSecondColor);
}

.header__rec-label {
  position: absolute;
  top: var(--headerFooterMargin);
  right: calc(9px + var(--headerFooterMargin));
  display: var(--recLabelDisplay);
  color: var(--accentColor);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec-label::after {
  content: "";
  display: var(--recLabelDisplay);
  width: 9px;
  height: 9px;
  margin-bottom: 2px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accentColor);
  background-color: var(--accentColor);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  padding: var(--headerFooterMargin);
  min-block-size: var(--minBlockSize);
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  color: var(--accentSecondColor);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accentSecondColor);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accentColorTransparent);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accentSecondColor);
  outline: none;
}

.header__header {
  grid-row: 2;
  color: var(--mainColor);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accentColor);
}

.header__description {
  grid-row: 3;
  align-self: center;
  color: var(--textSubheaderColor);
  font-weight: bold;
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accentColor);
}

.main {
  display: grid;
  row-gap: var(--mainGridGap);
  margin: var(--mainMargin) 0;
}

.main__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0px var(--headerFooterMargin);
}

.main__section-header {
  grid-column: 1;
  grid-row: 1;
  color: var(--textHeaderColor);
  font-size: 18px;
  line-height: 23.4px;
}

.main__section-images {
  gap: 10px;
}

.main__section-image {
  width: 100%;
}

.main__section-advices {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  row-gap: 10px;
}

.article__header {
  grid-column: 1;
  grid-row: 1;
  color: var(--textSubheaderColor);
  font-size: 18px;
  line-height: 23.4px;
}

.article__header_light {
  grid-column: 1;
  grid-row: 1;
  color: var(--textSubheaderColor);
  font-weight: normal;
  font-size: 18px;
  line-height: 23.4px;
}

.article__text {
  grid-column: 1;
  grid-row: 2;
  color: var(--textColor);
  font-size: 18px;
  line-height: 23.4px;
}

.main__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accentColor);
}

.main__link:hover {
  border-bottom: 1px solid var(--textColor);
}

.main__link:focus-visible {
  outline: 1px solid var(--textColor);
  outline-offset: 1px;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: var(--headerFooterMargin);
  min-block-size: var(--minBlockSize);
}

.footer__header {
  color: var(--mainColor);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accentColor);
}

@media (width >= 768px) {
  :root {
    --headerFooterMargin: 20px;
    --mainMargin: 60px;
    --mainGridGap: 80px;

    --baseDeviseSize: 1024px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__header {
    grid-column: span 2;
    margin-left: calc(-1 * var(--headerFooterMargin));
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    grid-column: 2;
  }

  .main__section {
    grid-template-columns: 1fr 2fr;
  }

  .article-container {
    grid-column: 2;
  }

  .article-specific {
    grid-column: span 2;
  }

  .main__section-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 192fr 230fr 318fr;
    gap: 20px;
  }

  .main__section-image {
    height: 100%;
    object-fit: cover;
  }

  .images-header {
    grid-column: span 3;
  }

  .img-sunset {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .img-icecream {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .img-tape {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .img-books {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .img-street {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer__header {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  :root {
    --baseDeviseSize: 768px;
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .main__section-specific {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .article-specific {
    grid-column: auto;
    grid-row: 2;
  }

  .main__section-images {
    grid-template-rows: min-content 260fr 315fr 433fr;
  }
}
