/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --pageBackgroundPicturePath: url("../images/cover-image-dark.png");
  --pageBackgroundAltColor: #000028;

  --mainColor: #db00ff;
  --accentColor: #ff0070;
  --accentColorTransparent: #ff007066;
  --accentSecondColor: var(--accentColor);
  --textColor: #f1b2ce;
  --textSubheaderColor: var(--pageBackgroundAltColor);
  --textHeaderColor: var(--accentColor);
  --recLabelDisplay: inline-block;

  --headerFooterFontSize: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --headerFooterMargin: 10px;
  --mainMargin: 40px;
  --mainGridGap: 50px;
  --baseDeviseSize: 668px;
  --minBlockSize: var(--baseDeviseSize);
}

@media (width >= 768px) {
  :root {
    --headerFooterFontSize: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --headerFooterMargin: 20px;
    --mainMargin: 60px;
    --mainGridGap: 80px;

    --baseDeviseSize: 1024px;
  }
}

@media (width >= 1024px) {
  :root {
    --baseDeviseSize: 768px;
  }
}
