/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --pageBackgroundPicturePath: url("../images/cover-image-dark.png");
  --pageBackgroundAltColor: #000028;

  --mainColor: #db00ff;
  --accentColor: #ff0070;
  --accentColorTransparent: #ff007066;
  --textColor: #f1b2ce;

  --headerFooterMargin: 10px;
  --mainMargin: 40px;

  --mainGridGap: 50px;

  --baseDeviseSize: 668px;

  --minBlockSize: calc(var(--baseDeviseSize) - 2 * var(--headerFooterMargin));
}
